ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

 header {
     float: left;
     margin: 0;
     padding: 0;
     background-color: #4aaaa5;
     color: #fff;
     border-color: #ccc;
 }

 nav {
     float: right;
 }

 img {
     height: 200px;
     width: 200px;
     float: left;
     margin-right: 10px;
 }

 section {
     clear: both;
     width: 960px;
 }

 h2 {
     color: #4aaaa5;
 }